@use "../partials/variables" as *;
@use "../partials/mixins" as *;
@use "../partials/typography" as *;

// universal styling rules

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Calibre";
  font-size: 62.5%;
  font-weight: 400;
}
