@use "../partials/variables" as *;
@use "../partials/mixins" as *;
@use "../partials/typography";

// universal styling rules

* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "Calibre";
  font-size: $desk-font-section-header;
  font-weight: 400;
}
