// Color Pallete

// primary colors

$color-primary-red: #c8102f; // logo red
$color-primary-black: #333333; // text black

// secondary colors

$color-background-header: #ffffff; // header background color
$color-background-page: #fafafa; // page background color

// typography - mobile

// typography - tablet & desktop

$desk-font-header: 3.3rem;
$desk-font-section-header: 1.2rem;
$desk-font-subheader-body: 1.4rem;
$desk-font-label-button: 1.2rem;

// PADDING OR MARGIN - MOBILE

$mob-spacing-big: 2.4rem;
$mob-spacing-small: 1.6rem;

// PADDING OR MARGIN - TABLET-DESKTOP

$desk-spacing-big: 3.6rem;
$desk-spacing-small: 2.4rem;

// BUTTONS

$button-height: 4rem;
$button-width-mobile: 3.2rem;
$button-radius: 4px;

// DIVIDER

// $divider-color: $color-secondary-mercury;
$divider-width: 1px;
