@use "../../styles/partials/typography";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

* {
  font-size: 1rem;
}
.quiz-container {
  height: 90vh;
  width: 100vw;
}
.progress-bar {
  width: 50vw;
}
