@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;

.homepage {
  &__main {
    width: 100vw;
    height: 80vh;

    @include flexbox(column, center, center);
  }

  &__content {
    width: 70vw;
    height: 70vh;
    background-image: url("../../assets/images/quizhero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include flexbox(column, center, flex-start);
  }

  &__heading {
    font-size: $desk-font-header;
    color: $color-background-header;
    width: 30vw;
    margin-left: 5vw;
    margin-bottom: $desk-spacing-big;
    font-weight: 600;
  }

  &__button {
    width: 10vw;
    height: $button-height;
    font-size: $desk-font-label-button;
    background-color: $color-primary-red;
    color: $color-background-header;
    border: 0;
    border-radius: $button-radius;
    margin-left: 5vw;
    cursor: pointer;
    letter-spacing: 1px;

    padding: 1.2rem 0;
  }
}

a {
  text-decoration: none;
}
